.card {
  background-color: rgb(231, 231, 231);
  padding: 16px;
  border-radius: 8px;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.image {
  min-width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.imageList {
  min-width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
